### 타이타닉 생존자 ML예측 구현

In [92]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

titanic_train = pd.read_csv("../ml/datasets/titanic_train.csv")
titanic_train .head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [93]:
titanic_train .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [94]:
titanic_train .isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [95]:
titanic_train .isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [96]:
titanic_train ["Age"].fillna(titanic_train ["Age"].mean(),inplace=True)
titanic_train ["Cabin"].fillna("N", inplace = True)
titanic_train["Embarked"].fillna("S", inplace=True)

print(titanic_train .isna().sum().sum())
print(titanic_train .isnull().sum().sum())

0
0

In [97]:
titanic_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [98]:
titanic_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.002015,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,29.699118,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [99]:
titanic_test = pd.read_csv("../ml/datasets/titanic_test.csv")
titanic_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [100]:
titanic_test["Age"].fillna(titanic_test["Age"].mean(),inplace=True)
titanic_test["Cabin"].fillna("N", inplace = True)
titanic_test["Embarked"].fillna("N", inplace=True)
titanic_test["Fare"].fillna("S", inplace=True)
titanic_test.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    object
 9   Cabin        418 non-null    object
 10  Embarked     418 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 36.0+ KB

In [101]:
print(f"성별의 값 분포 : {titanic_train['Sex'].value_counts()}, \
fromCavin 값 분포 : {titanic_train['Cabin'].value_counts()}, Embarked 값 분포 : {titanic_train['Embarked'].value_counts()}" )

성별의 값 분포 : male      577
female    314
Name: Sex, dtype: int64, fromCavin 값 분포 : N              687
C23 C25 C27      4
G6               4
B96 B98          4
C22 C26          3
              ...
E34              1
C7               1
C54              1
E36              1
C148             1
Name: Cabin, Length: 148, dtype: int64, Embarked 값 분포 : S    646
C    168
Q     77
Name: Embarked, dtype: int64

### 데이터 전처리 모듈화

In [102]:
from sklearn.preprocessing import LabelEncoder

# 결측치 제거
def fillna(df):
    df["Age"].fillna(df["Age"].mean(),inplace=True)
    df["Cabin"].fillna("N", inplace = True)
    df["Embarked"].fillna("N", inplace=True)
    df["Fare"].fillna("S", inplace=True)
    return df

# 속성 정리
def drop_features(df):
    df.drop(["PassengerId", "Pclass", "Name", "SibSp", "Parch", "Ticket", "Fare" ], axis = 1, inplace = True)
    return df

# 레이블 인코딩
def format_featueres(df):
    df["Cabin"] = df["Cabin"].str[:1]
    features = ["Cabin", "Sex", "Embarked"]
    for features in features:
        le = LabelEncoder()
        df[features] = le.fit_transform(df[features])
    return df

# 위의 함수 합치기
def transform_features(df):
    df = fillna(df)
    df = drop_features(df)
    df = format_featueres(df)
    return df

In [103]:
titanic_train = pd.read_csv("../ml/datasets/titanic_train.csv")
titanic_test = pd.read_csv("../ml/datasets/titanic_test.csv")

In [104]:

titanic_train_trans = transform_features(titanic_train)
titanic_test_trans = transform_features(titanic_test)

In [105]:
titanic_test_trans

     Sex       Age  Cabin  Embarked
0      1  34.50000      7         1
1      0  47.00000      7         2
2      1  62.00000      7         1
3      1  27.00000      7         2
4      0  22.00000      7         2
..   ...       ...    ...       ...
413    1  30.27259      7         2
414    0  39.00000      2         0
415    1  38.50000      7         2
416    1  30.27259      7         2
417    1  30.27259      7         0

[418 rows x 4 columns]

In [106]:
titanic_train_trans

     Survived  Sex        Age  Cabin  Embarked
0           0    1  22.000000      7         3
1           1    0  38.000000      2         0
2           1    0  26.000000      7         3
3           1    0  35.000000      2         3
4           0    1  35.000000      7         3
..        ...  ...        ...    ...       ...
886         0    1  27.000000      7         3
887         1    0  19.000000      1         3
888         0    0  29.699118      7         3
889         1    1  26.000000      2         0
890         0    1  32.000000      7         2

[891 rows x 5 columns]

### Featues와  label의 분리

In [107]:
label = titanic_train_trans["Survived"]
features = titanic_train_trans.drop(columns="Survived")

In [108]:
features

     Sex        Age  Cabin  Embarked
0      1  22.000000      7         3
1      0  38.000000      2         0
2      0  26.000000      7         3
3      0  35.000000      2         3
4      1  35.000000      7         3
..   ...        ...    ...       ...
886    1  27.000000      7         3
887    0  19.000000      1         3
888    0  29.699118      7         3
889    1  26.000000      2         0
890    1  32.000000      7         2

[891 rows x 4 columns]

### 데이터 스케일링

In [109]:
# standardscaler 

from sklearn.preprocessing import StandardScaler

# StandardScaler객체 생성
scaler = StandardScaler()
# StandardScaler로 데이터 셋 변환 , fit()과 transform()호출
titanic_trian_scaled = scaler.fit_transform(features)

In [110]:
titanic_train_scale_df =pd.DataFrame(titanic_trian_scaled, columns=features.columns)

In [111]:
titanic_train_scale_df.describe()

                Sex           Age         Cabin      Embarked
count  8.910000e+02  8.910000e+02  8.910000e+02  8.910000e+02
mean  -1.156327e-16  2.232906e-16 -6.778466e-17  7.974666e-18
std    1.000562e+00  1.000562e+00  1.000562e+00  1.000562e+00
min   -1.355574e+00 -2.253155e+00 -2.884805e+00 -2.008526e+00
25%   -1.355574e+00 -5.924806e-01  5.112932e-01 -2.943530e-01
50%    7.376951e-01  0.000000e+00  5.112932e-01  5.627337e-01
75%    7.376951e-01  4.079260e-01  5.112932e-01  5.627337e-01
max    7.376951e-01  3.870872e+00  9.964501e-01  5.627337e-01

### decisiontree를 이용한 예측

In [112]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier(random_state=0)
clf.fit(titanic_trian_scaled ,  label)

DecisionTreeClassifier(random_state=0)

In [113]:
titanic_test_scale = scaler.fit_transform(titanic_test)
results = clf.predict(titanic_test_scale)

In [114]:
results

array([0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [115]:
len(results)

418

In [ ]:
y_test = pd.read_csv("../ml/datasets/gender_submission.csv")

In [116]:
y_test = y_test["Survived"]

KeyError: 'Survived'

In [ ]:
y_test

In [117]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test , results)

0.8110047846889952

In [118]:
418 * 0.8373205741626795

350.0

In [119]:
418 - 350

68

In [120]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [121]:
dt_clf = DecisionTreeClassifier(random_state=15)
rf_clf = RandomForestClassifier(random_state=15)
lr_clf = LogisticRegression()

In [122]:
dt_clf.fit(titanic_trian_scaled , label)
dt_pred = dt_clf.predict(titanic_test_scale)
accuracy_score(y_test, dt_pred)

0.8181818181818182

In [123]:
rf_clf.fit(titanic_trian_scaled , label)
rf_pred = rf_clf.predict(titanic_test_scale)
accuracy_score(y_test,rf_pred)

0.8277511961722488

In [ ]:
lr_clf.fit(titanic_trian_scaled , label)
lr_pred = lr_clf.predict(titanic_test_scale)
accuracy_score(y_test,lr_pred)

In [ ]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(dt_clf,titanic_trian_scaled,label,cv=5)
for iter_count, accuracy in enumerate(score):
    print(iter_count,accuracy)
    
import numpy as np
np.mean(score)

In [124]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(lr_clf,titanic_trian_scaled,label,cv=5)
for iter_count, accuracy in enumerate(score):
    print(iter_count,accuracy)
    
import numpy as np
np.mean(score)

0 0.7932960893854749
1 0.7865168539325843
2 0.7584269662921348
3 0.7696629213483146
4 0.7921348314606742

0.7800075324838366

In [125]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(rf_clf,titanic_trian_scaled,label,cv=5)
for iter_count, accuracy in enumerate(score):
    print(iter_count,accuracy)
    
import numpy as np
np.mean(score)

0 0.7486033519553073
1 0.7865168539325843
2 0.7528089887640449
3 0.7808988764044944
4 0.7752808988764045

0.768821793986567

In [126]:
from sklearn.model_selection import GridSearchCV

parameters = { "max_depth" : [4,5,6,7,10], "min_samples_split" : [2,3,4,5],"min_samples_leaf" : [1,2,3,4,5,8] }

grid_dtclf = GridSearchCV(dt_clf,param_grid=parameters, scoring = "accuracy", cv=5)
grid_dtclf.fit(titanic_trian_scaled, label)



best_grid_dtclf = grid_dtclf.best_estimator_

dpred = best_grid_dtclf.predict(titanic_test_scale)
accuracy = accuracy_score(y_test,dpred)

print(grid_dtclf.best_params_, grid_dtclf.best_score_,accuracy)

{'max_depth': 7, 'min_samples_leaf': 4, 'min_samples_split': 2} 0.7923419747661791 0.8803827751196173

In [137]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix

def get_clf_eval(y_test, pred):
    confusion = confusion_matrix(y_test, pred)
    accuracy = accuracy_score(y_test, pred)
    precision = precision_score(y_test, pred)
    recall = recall_score(y_test, pred)
    print(f"오차행렬 {confusion}, 정확도 : {accuracy}, 정밀도 : {precision}, 재현율 : {recall}")

In [138]:
get_clf_eval(y_test,dpred)

오차행렬 [[248  18]
 [ 32 120]], 정확도 : 0.8803827751196173, 정밀도 : 0.8695652173913043, 재현율 : 0.7894736842105263